.footer{
    border-top: solid 3px var(--primary-color) ;
}
.navlinkCustom{
    
    color: #bababa;
    text-wrap: nowrap;
    font-size: .9rem;
    line-height: 1.51488rem;
    
    }
    .navlinkCustom:hover{
    
        color: var(--primary-color);
        }
        .divider{
            
            border-bottom: 1px solid #767676;
        }
        .primary{    
            display: flex;
            align-items: center ;
            gap: 0.625rem;     
            padding: .8rem 1.2rem;
            border-radius: 6.25rem;
            border: 4px solid #67c8e9;
            background: var(--primary-color);
            color: #000;
            font-size: .9rem;
            font-weight: 600;
            letter-spacing: 0.06rem;
            text-transform: uppercase;
        }
        .primary:hover{
            background: #2d8ad6;
           

          }
        .secondary{
            display: flex;
            padding: 1rem 1.2rem;
            align-items: center ;
            gap: 0.625rem;
            border-radius: 6.25rem;
            border: 4px solid rgba(255, 255, 255, 0.24);
            color:  #FFF;
            font-size: .9rem;
            font-weight: 500;
            letter-spacing: 0.06rem;
            text-transform: uppercase;
        }
        .secondary:hover{
            background-color: #2a2a2a;
        }